@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

@font-face {
  font-family: title;
  src: url("Poppins-Bold.ttf");
}
@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");
@font-face {
  font-family: thins;
  src: url("Poppins-Thin.ttf");
}
@font-face {
  font-family: extralight;
  src: url("Poppins-ExtraLight.ttf");
}
@font-face {
  font-family: regular;
  src: url("Poppins-Regular.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: title;
}
nav {
  position: relative;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 100svw;
  display: flex;
  height: 10%;
  z-index: 5;

  .moon {
    position: absolute;
    float: right;
    top: 25px;
    right: 80px;
    cursor: pointer;
  }
  label {
    padding: 20px;
    font-size: 150%;
    font-weight: bolder;
    font-family: title;
  }
  ul {
    position: absolute;
    margin-left: 5%;
    padding: 30px 20px 20px 20px;
    display: inline-flex;

    list-style: none;
    li {
      font-size: 80%;
      margin-left: 40%;
      font-family: regular;

      a {
        text-decoration: none;
        color: rgb(117, 117, 117);
        &:hover {
          color: black;
        }
      }
    }
  }
  .menu {
    position: absolute;
    float: right;
    right: 9px;
    visibility: hidden;
  }
}

.home {
  height: 90svh;
  width: 100svw;
  display: grid;
  grid-template-columns: 45% 55%;

  .col-home-one {
    position: relative;

    padding: 50px 0px 0px 50px;

    h1 {
      margin-top: 15%;
      font-size: 350%;
      font-family: title;
      letter-spacing: 2px;
      margin-bottom: 10%;
    }
    p {
      color: rgb(110, 110, 110);
      font-family: regular;
      font-style: 1rem;
      margin-top: 10px;
      line-height: 1.5rem;
      margin-bottom: 10%;
    }
    .resume-btn {
      position: absolute;
      display: block;
      cursor: pointer;
      margin-top: 5px;
      padding: 8px;
      width: 30%;
      border-radius: 10px;
      background: none;
      border: 2px solid #dec92e;
      margin-right: auto;
      color: #dec92e;
      transition: 0.5s;

      &:hover {
        background-color: #dec92e;
        color: white;
      }
    }
    .socmeds {
      margin-top: 100px;
      display: flex;
      font-size: 30px;
      li {
        list-style: none;
      }
    }
  }
  .col-home-two {
    img {
      margin-left: 16%;
      margin-top: 15%;
      max-width: 70%;
      min-width: 60%;
      min-height: 60%;
      max-height: 80%;
    }
  }
}
#about {
  position: relative;
  display: flex;
  height: 100svh;

  padding: 30px;

  .about-title {
    text-align: center;
  }
  .my-photo {
    flex: 1;
    margin-top: 10%;
    img {
      width: 100%;
      height: 70%;
    }
  }
  .my-personality {
    flex: 1;
    padding: 100px;
    padding-top: 150px;
    p {
      line-height: 3rem;
      text-align: center;
    }
  }
}

#checkbox {
  display: none;
}

.leftMe {
  left: 0%;
}

//skills
.skills {
  border-radius: 20px;
  margin-bottom: 50px;
  margin: 0px 20px;
  overflow: hidden;
}
.skill {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 20%);
  justify-content: center;

  grid-gap: 1.5rem;
  padding: 20px;
}
.skill:has(div) img {
  width: 100%;
  height: 200px;
  min-height: 100px;
  max-height: 200px;

  transition: 1s;
  cursor: pointer;
}
.skill:has(.hov) :hover {
  transition: 0.5s;
  transform: scale(0.9);
  z-index: 1;
}
.skill:has(div) h1 {
  padding: 10px;
  color: #dec92e;
  font-size: 20px;
}
.skill img:hover {
  box-shadow: inset 100px 100px 100px 100px rgb(255, 87, 87);
}

.skill:has(div) div {
  box-shadow: 5px 5px 10px #b3b3b3, -5px -5px 10px #ffffff;
  background: white;
}
.skills:has(:not(div)img:hover) {
  opacity: 0.5;
}

.html:hover::after ~ body {
  transform: translateX(200px);
}
body {
  transition: all 0.5s ease-in-out;
}
.dark-mode {
  background: rgb(21, 17, 91);
  background: linear-gradient(
    90deg,
    rgba(21, 17, 91, 1) 1%,
    rgba(44, 44, 76, 1) 57%,
    rgba(44, 44, 76, 1) 100%
  );
  transition: all 0.5s;
}
.dark-mode .light-text {
  color: white !important;
}
.dark-mode .light-white {
  color: rgb(255, 255, 255) !important;
}
.dark-mode .list-change-color {
  color: white !important;
}
.skill {
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1s;
  transition-property: all;
}
.animate-left {
  animation-name: anim-left;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.fade-in {
  animation-name: fade-in;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
.scaleX {
  animation-name: scaleUp;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes scaleUp {
  from {
    transform: scale(2.5rem);
  }
}
@keyframes fade-in {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
}
//keyframes
@keyframes anim-left {
  from {
    transform: translateY(-99px);
  }
}
.animate-right {
  animation-name: anim-right;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes anim-right {
  from {
    transform: translateY(99px);
  }
}

//projects

.project {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 100px 0px 100px;
  height: auto;
}
.swiper {
  width: 80%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  min-height: 300px;
  width: 100%;
}
.swiper-pagination-bullet {
  width: 26px;
  height: 4px;
  border-radius: 50px;
  background: #dec92e;
}

//contacts

.contact {
  position: relative;
  overflow: hidden;
  height: 100vh;
  z-index: -2;
  margin-top: 200px;

  img {
    position: absolute;
    margin: 0 auto;
    width: 40%;
    height: 25%;
    z-index: 1;
    display: none;
  }
}

.map-figure {
  height: 100%;
  iframe {
    display: flex;

    margin: 0 auto;
    margin-top: 25px;
    width: 70%;
    height: 100%;
    border-radius: 5px;
  }
}

.get-in-touch {
  position: relative;
  text-align: center;
  bottom: -100px;
  font-size: 100px;
  color: #a8a8a8;
}

.contact-container {
  margin-top: 100px;
  margin-bottom: 100px;
  display: grid;

  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;

  .form {
    position: relative;
    display: flex;
    z-index: 1;
    flex-wrap: wrap;
  }

  input {
    margin: 0 auto;
    display: flex;
    border: 1px solid #dec92e;
    margin-top: 23px;

    height: 40px;
    width: 350px;
    border-radius: 20px;

    &::placeholder {
      padding: 10px 20px;
      font-weight: 100;
      color: #2c2c4c;
    }

    &:focus ~ &::placeholder {
      background-color: #2c2c4c;
    }
  }
  .sponge--hang {
    position: relative;
  }
  .sponge--hang::before {
    content: "hello world";
    color: #f40000;
    font-size: 50px;
  }
  button {
    margin: 0 auto;
    margin-top: 40px;
    width: 350px;
    font-size: 10px;
    background: #dec92e;
    color: white;
    padding: 0.8em 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
  }

  button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  }

  button:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }

  button span {
    margin-left: 0.4em;
    transition: all 0.3s;
  }

  button svg {
    transform: rotate(-132deg);
    width: 18px;
    height: 18px;
    fill: white;
    transition: all 0.3s;
  }

  button .svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0.5em;
    transition: all 0.3s;
  }

  button:hover .svg-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
  }

  button:hover svg {
    transform: rotate(40deg);
  }
}

//pre skill
.pre-skill {
  margin-top: 50px;
  height: 50svh;
  // overflow: hidden;
  display: grid;
  grid-template-columns: 70% 30%;

  .pre-container {
    margin: 20px 50px;
    outline: solid 10px black;
    border-bottom: solid 30px black;
    max-height: 500px;

    box-shadow: 6px 6px 12px #a8a8a8, -6px -6px 12px #ffffff;
    &::after {
      content: "";
      position: relative;

      width: 100px;
      height: 50px;
      background-color: #f40000;
    }
  }
  .pre-container {
    background-color: black;
  }
  .pre-list {
  }
  .ul-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li {
      list-style: none;
      margin: 10px;
      cursor: pointer;
      img {
        border-radius: 50px;
        min-height: 160px;
        min-width: 300px;
        max-height: 130px;
        max-width: 300px;
        box-shadow: 6px 6px 12px #a8a8a8, -6px -6px 12px #ffffff;

        &:hover {
          border-radius: 0px;
        }
      }
    }
  }
}

.ul-list:has(img) :hover {
  transition: 0.5s;
  // transform: scale(1.1);
}

footer {
  background-color: #dec92e;
  padding: 12px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.other-contacts-container {
  padding: 50px 0px 50px 0px;

  background-color: #767676;
}

.other-contacts {
  padding: 50px 0px 50px 0px;

  margin: 0 auto;

  width: 80%;

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .contact-list-midle {
      border-left: 1px solid whitesmoke;
      border-right: 1px solid whitesmoke;
    }
    li {
      list-style: none;
      text-align: center;
      cursor: pointer;

      i {
        font-size: 50px;
        color: #dec92e;
        margin-bottom: 30px;

        &:hover {
          color: #dec92e;
        }
      }
    }
    p {
      color: white;
      text-align: center;
      font-size: 8px;
      font-family: regular;
    }
  }
}

#scroll-to-top {
  display: none;

  position: fixed;
  bottom: 40px;
  left: 5%;
  z-index: 99;
  width: 70px;
  height: 70px;
  font-size: 20px;
  border: none;
  background-color: #a1a1a1;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50px;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

.scroll-translate {
  animation-name: scroll-translate;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes scroll-translate {
  from {
    transform: scale(0.3);
  }
}
#scroll-to-top:hover {
  background-color: #333;
  opacity: 1;
}

//responsive settings media queries

@media (max-width: 1206px) {
  .pre-skill {
    margin-top: 100px;
    height: 50svh;
    // overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;

    .ul-list {
      li {
        img {
          min-height: 100px;
          min-width: 200px;
          max-width: 100px;
          max-height: 100px;
        }
      }
    }
  }

  .col-home-one {
    justify-content: center;
    align-items: center;

    h1 {
      font-size: calc(1vw + 3rem);
    }
    p {
      font-size: calc(1vw + 0.5rem);
    }
  }

  #about {
    .my-photo {
      padding-left: 50px;
    }
    p {
      line-height: 3rem;
      color: rgb(40, 40, 40);
      text-align: center;
    }
  }
  #about .my-personality {
    padding-top: 100px;
  }
}

@media (max-width: 1140px) {
  #about {
    .my-photo {
      margin-top: 10%;
    }
    .my-personality {
      padding: 50px;
      padding-top: 100px;
      h1 {
        line-height: 0;
        margin-bottom: 5px;
      }
      p {
        text-align: center;
        line-height: 3rem;
      }
    }
  }
}

@media (max-width: 900px) {
  .small-project {
    display: block !important;

    div {
      height: 250px;
      margin-bottom: 1rem;
    }

    img {
      width: 100%;
      height: 90%;
    }
  }
  .other-contacts {
    width: 100%;
    i {
      font-size: 40px !important;
    }
  }

  .get-contact {
    font-size: 25px;
  }

  .get-in-touch {
    font-size: 70px;
    bottom: -70px;
  }

  .contact-container {
    grid-template-columns: 1fr;
  }

  .pre-skill {
    margin-top: 100px;
    height: 50svh;
    // overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;

    .ul-list {
      li {
        img {
          min-height: 100px;
          min-width: 150px;
          max-width: 100px;
          max-height: 100px;
        }
      }
    }
  }

  .home {
    .col-home-one {
      padding: 40px;
      h1 {
        margin-top: 5%;
        text-align: center;
      }
      p {
        text-align: center;
      }
      .resume-btn {
        position: relative;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .home {
    grid-template-columns: 1fr;
  }
  .menus {
    display: block;
  }
  nav {
    background-color: #dec92e;
    ul {
      background: #dec92e;
      position: absolute;
      top: 77px;
      margin-left: 0;
      width: 100%;
      height: 100svh;
      text-align: center;
      left: -100%;
      transition: 0.5s;
      z-index: 3;
      li {
        margin: 0;
        line-height: 8rem;
        font-size: 20px;
        z-index: 1;
      }
    }
    .menu {
      visibility: visible;
    }
  }

  #about {
    display: block;
    margin-top: 60%;

    .my-photo {
      margin-top: 10px;
      img {
        width: 70%;
        margin-left: 12.5%;
      }
    }
    .my-personality {
      padding-top: 0px;

      h1 {
        line-height: 4rem !important;
      }
    }
  }
  .skill {
    grid-gap: 2rem;
    padding: 20px;
    img {
      height: 100px !important;
    }
  }
}
@media (max-width: 670px) {
  .other-contacts-container {
    padding: 0px;

    background-color: #767676;
  }
  .other-contacts {
    width: 100%;

    i {
      font-size: 25px !important;
    }
    p {
      font-size: 7px !important;
    }
  }
  .pre-container {
    max-height: 220px !important;
  }
  #about {
    padding: 0;
    margin-top: 70%;
    .my-photo {
      margin-top: 50px;
      img {
        width: 90%;
        margin-left: 0;
      }
    }
    .my-personality {
      line-height: 2rem;
    }
  }
  .skill {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding: 20px;
  }
}

@media (max-width: 430px) {
  .other-contacts-container {
    padding: 0;
  }
  .other-contacts {
    padding: 0 !important;
    width: 100% !important;

    li {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .other-contacts-container {
    padding: 50px 0px 50px 0px;

    background-color: #767676;
  }

  .other-contacts {
    padding: 50px 0px 50px 0px;

    margin: 0 auto;

    width: 80%;

    ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .contact-list-midle {
        border-left: 1px solid whitesmoke;
        border-right: 1px solid whitesmoke;
      }
      li {
        list-style: none;
        text-align: center;
        cursor: pointer;

        i {
          font-size: 50px;
          color: #dec92e;
          margin-bottom: 30px;

          &:hover {
            color: #dec92e;
          }
        }
      }
      p {
        color: white;
        text-align: center;
        font-size: 8px;
        font-family: regular;
      }
    }
  }

  .pre-container {
    max-height: 200px !important;
  }

  .pre-skill {
    margin-top: 100px;
    height: 50svh;
    // overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;

    .ul-list {
      li {
        img {
          min-height: 40px;
          min-width: 50px;
          max-width: 100px;
          max-height: 40px;
        }
      }
    }
  }

  .home .col-home-two img {
    margin-left: 19%;
    margin-top: 5%;
  }
  #about {
    margin-top: 30%;
    .my-personality {
      padding-top: 50px;
    }
    .my-photo {
      img {
        width: 100%;
        margin-left: -6.5%;
      }
    }
  }
  .skills {
    margin-top: 100px;
  }
}
@media (max-width: 400px) {
  #about {
    margin-top: 40%;
  }
  .skills {
  }
  .skill {
    grid-gap: 1rem;

    img {
      height: 20px !important;
    }
  }
}
@media (max-width: 370px) {
  .pre-container {
    max-height: 160px !important;
  }
  .skills {
    margin-top: 200px;
  }
  .skill {
    justify-content: center;
    grid-template-columns: repeat(2, 110px);
    h1 {
      font-size: 12px !important  ;
    }
  }
}
@media (max-width: 360px), (max-height: 740px) {
  .home .col-home-one {
    padding-bottom: 5px;
    h1 {
      font-size: 250%;
    }
  }
  .home .col-home-two img {
    margin-top: 5%;
  }
}

@media (max-width: 300px) {
  .home {
    .col-home-one {
      padding: 20px;
      h1 {
        font-size: 250%;
      }
    }
  }
  #about {
    margin-top: 20%;
    .my-photo {
      img {
        margin-left: -11%;
      }
    }

    .my-personality {
      padding: 10px;
      h1 {
        font-size: 20px;
      }
      p {
        font-size: 10px;
        line-height: 2rem;
      }
    }
  }
}
.sec-text-dark {
  position: relative;
  color: #dec92e;
}
.sec-text-dark::after {
  position: absolute;
  background-color: #2c2c4c !important;
  border-left: solid #dec92e !important;
  width: 100%;
  height: 100%;
  padding-bottom: 5px;
  animation: type steps(12) 4s infinite;
}
.sec-text {
  position: relative;
  color: #dec92e;
}
.sec-text::before {
  position: absolute;
  content: "";
  background-color: white;
  border-left: black solid 1px;
  width: 100%;
  height: 100%;
  padding-bottom: 5px;
  animation: type steps(12) 4.3s infinite;
  left: 0%;
}

@keyframes type {
  40%,
  60% {
    left: 100%;
  }

  100% {
    left: 0%;
  }
}

//loaders
.loader-hide {
  visibility: hidden !important;
  display: none !important;
}
.loaders {
  position: fixed;
  top: 0;
  left: 0;
  height: 100svh;
  width: 100%;
  z-index: 1000;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: visibility 2.5s;
  margin-right: 100px;
}

.loader {
  width: 80px;
  height: 50px;
  position: relative;
}

.loader-text {
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  color: #dec92e;
  animation: text_713 3.5s ease both infinite;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.load {
  background-color: #f3e99b;
  border-radius: 50px;
  display: block;
  height: 16px;
  width: 16px;
  bottom: 0;
  position: absolute;
  transform: translateX(64px);
  animation: loading_713 3.5s ease both infinite;
}

.load::before {
  position: absolute;
  content: "";

  width: 100%;
  height: 100%;
  background-color: #dec92e;
  border-radius: inherit;
  animation: loading2_713 3.5s ease both infinite;
}

@keyframes text_713 {
  0% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }

  40% {
    letter-spacing: 2px;
    transform: translateX(26px);
  }

  80% {
    letter-spacing: 1px;
    transform: translateX(32px);
  }

  90% {
    letter-spacing: 2px;
    transform: translateX(0px);
  }

  100% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }
}

@keyframes loading_713 {
  0% {
    width: 16px;
    transform: translateX(0px);
  }

  40% {
    width: 100%;
    transform: translateX(0px);
  }

  80% {
    width: 16px;
    transform: translateX(64px);
  }

  90% {
    width: 100%;
    transform: translateX(0px);
  }

  100% {
    width: 16px;
    transform: translateX(0px);
  }
}

@keyframes loading2_713 {
  0% {
    transform: translateX(0px);
    width: 16px;
  }

  40% {
    transform: translateX(0%);
    width: 80%;
  }

  80% {
    width: 100%;
    transform: translateX(0px);
  }

  90% {
    width: 80%;
    transform: translateX(15px);
  }

  100% {
    transform: translateX(0px);
    width: 16px;
  }
}

.extra-loader {
  position: fixed;
  background-color: white;
  transition: 1s all;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: myLoader 1s;
  animation-delay: 6s;
  animation-fill-mode: forwards;
}

@keyframes myLoader {
  100% {
    background-color: #2c2c4c;
  }
}
.ooms {
  position: relative;
  color: #2c2c4c;
  animation: slide 1s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  visibility: hidden;
  font-size: 20px;
}
@keyframes slide {
  0% {
    left: -90px;
    visibility: hidden;
  }
  50% {
    left: 0;
    visibility: visible;
  }
  100% {
    left: 1000px;
    visibility: hidden;
  }
}
.owner-name {
  overflow: hidden;
  width: 200px;
  animation: owner 1s;
  animation-fill-mode: forwards;
  animation-delay: 5s;
}
@keyframes owner {
  80% {
    padding-left: 50px;
    font-size: 100px;
  }
  100% {
    padding-left: 70px;
    font-size: 80px;
    transform: rotateX(360deg);

    text-shadow: 10px 10px 0px rgba(0, 0, 0, 0.5);
  }
}
.D {
  position: relative;
  top: 5px;
  color: #dec92e;
  animation: zoomIn 1s ease;
  visibility: hidden;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
@keyframes zoomIn {
  0% {
    font-size: 0px;
    left: 90px;
    visibility: hidden;
  }
  50% {
    left: 0px;
    font-size: 60px;
    visibility: visible;
  }

  100% {
    transform: translateX(-100px);
    font-size: 100px;
    visibility: visible;
  }
}

.sub {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  gap: 0.2rem;
  padding-top: 23px;
  max-height: 10px;

  .skill--list {
    padding-top: 15px;

    li {
      list-style: none;
      font-size: 13px;
      &:nth-child(1) {
        animation-delay: 2s;
        animation: firstChild 2s;
      }
      &:nth-child(2) {
        animation-delay: 9s;
        animation: secondChild 1s;
      }
      &:nth-child(3) {
        animation: thirdChild;
        animation-delay: 4s;
      }
      &:nth-child(4) {
        animation-delay: 5s;
      }
    }
  }
}
@keyframes firstChild {
  35% {
    transform: translateY(-100px);
  }
}
@keyframes skillList {
  35% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(-100px);
  }
}

.fade--body {
  opacity: 1;
  transition: 1s;
  animation: fadeBody;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}
@keyframes fadeBody {
  from {
    opacity: 0;
  }
}

//small project section
.small-project-section {
  padding: 0px 40px;
}

.small-project {
  display: flex;
  justify-content: center;
  gap: 1rem;
  text-align: center;

  div {
    height: 250px;
    border-radius: 1rem;
    transition: all 1.5s;

    &:hover,
    &:active {
      box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.5);
    }
  }

  .project--one {
    position: relative;
    overflow: hidden;
    transform-origin: left;
    background-image: url("space-web.png");
    background-repeat: no-repeat;
    background-size: cover;

    .github {
      position: absolute;
      left: 8%;
      bottom: -15%;

      i {
        color: rgb(255, 255, 255);
        font-size: 20px;
      }
    }
    .code {
      position: absolute;
      left: 20%;
      bottom: -14%;
      i {
        font-size: 20px;
        color: rgb(255, 255, 255);
      }
    }
    .small--project--title {
      position: absolute;
      right: -10%;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12px;

      color: #ffffff;
      writing-mode: vertical-rl;
      bottom: 35%;
    }
  }
}

.project--two {
  position: relative;
  overflow: hidden;
  transform-origin: left;
  background-image: url("tripToGuru.png");
  background-repeat: no-repeat;
  background-size: cover;
  .github--two {
    position: absolute;
    left: 8%;
    bottom: -15%;

    i {
      color: rgb(255, 255, 255);
      font-size: 20px;
    }
  }
  .code--two {
    position: absolute;
    left: 20%;
    bottom: -14%;
    i {
      font-size: 20px;
      color: rgb(255, 255, 255);
    }
  }
  .small--project--title--two {
    position: absolute;
    right: -10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;

    color: #ffffff;
    writing-mode: vertical-rl;
    bottom: 35%;
  }
}

//project three

.project--three {
  position: relative;
  overflow: hidden;
  transform-origin: left;
  background-image: url("unix.png");
  background-repeat: no-repeat;
  background-size: cover;

  .github--three {
    position: absolute;
    left: 8%;
    bottom: -15%;

    i {
      color: rgb(255, 255, 255);
      font-size: 20px;
    }
  }
  .code--three {
    position: absolute;
    left: 20%;
    bottom: -14%;
    i {
      font-size: 20px;
      color: rgb(255, 255, 255);
    }
  }
  .small--project--title--three {
    position: absolute;
    right: -10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;

    color: #ffffff;
    writing-mode: vertical-rl;
    bottom: 35%;
  }
}
.icon--slide {
  transition: all 0.5s;
  bottom: 5% !important;
}
.title--slide {
  transition: all 0.5s;
  right: 2% !important;
}
//parallax for spongebob

.spongebob--hang {
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url("spongebob.png");
  background-size: cover;
  background-position: center;
  top: 24%;
  left: 0;

  z-index: -1;
}
